@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    
}
.header h1{
    margin-left: 20px;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.Note{
    font-family: 'Poppins', sans-serif;
}

.cloneDisp{
    display: -webkit-inline-box;
    margin-left: 20px;
    width :20%;
    height: 100%;
}

.cloneDisp div{
    font-family: 'Poppins', sans-serif;
    box-shadow: 0.5px 0.5px silver , -0.5px -0.5px silver;
    padding: 15px;
    border-radius: 3px;
}