body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("https://images.pexels.com/photos/354939/pexels-photo-354939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
}

.center_div{
    width : 30%;
    margin: 100px auto;
    background-color: whitesmoke;
    border-radius: 8px;
    height: 500px;
    padding: 25px;
}

.center_div h2{
    font-family: 'Raleway', sans-serif;
    margin: 0px 0 0 20px;
    font-size: 30px;
}

.txtField{
    
    margin: 7px 0 0 15px;
    padding: 0 20px;
}

TextField{
    
    font-size: 6px;
    font-family: 'Poppins', sans-serif;
    
}
