body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.center_div{
  width: 35%;
  border: 2px solid blueviolet;
  box-shadow: 3px 3px 15px silver;
  text-align: center;
  padding: 25px;
  margin: 20px 0 0 40px;
}
.center_div h1{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color: blueviolet;
}
#outlined-basic{
  height: 6px;
  font-size: 14px;
  
}
.center_div .btn1{
  color: blueviolet;
  background-color: white;
  border: 0.1px solid blueviolet;
  transition: all 0.2s linear;
  margin: 20px 0 20px 0;
}
.center_div .btn1:hover{
  color: lightseagreen;
  border: 0.1px solid lightseagreen;
  background-color: white;
}

.center_div li{
  list-style-type: none;
}
.delete{
  display: inline-block;
  text-transform: capitalize;
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  border: 2px solid;
  margin-left: 20px;
}
li{
  padding: 10px 45px;
  text-transform: capitalize;
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}
.addBtn{
  color: silver;
  height: 20px;
  transition: all 0.2s linear;
}
.addBtn:hover{
  color: red;
}
.addList{

  display: inline-block;
  padding: 2px 0;
  position: relative;
  bottom: 7px;
  transition: all 0.2s linear;

}
.addList:hover{

  color: red;
}

.addDiv{
  
  padding: 5px 20px;
  margin-left: 15px;
  display: inline-block;
  border: 1.5px solid blueviolet;
  transition: all 0.2s linear;
  
}

.addDiv:hover{
  border: 1.5px solid red;

}